
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.container {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: 
  #be6b34;
  padding: 20px;
  height: 100vh;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.nav li {
  list-style: none;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.nav li.active,
.nav li:hover {
  background-color: #187852;
  font-weight: bold;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar nav a {
  margin-right: 10px;
  text-decoration: none;
  color: #000;
}

.top-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-actions input {
  padding: 5px;
}

.admin-btn {
  padding: 5px 10px;
}

.summary {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.card {
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  flex: 1;
  text-align: center;
  font-size: 18px;
}

.total-sales {
  background-color: #4e153b;
}

.total-orders {
  background-color: #643c30;
}

.total-customers {
  background-color: #350954;
}

.card span {
  display: block;
  font-size: 14px;
  margin-top: 10px;
}


.charts {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.chart {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  flex: 1;
}

.chart img {
  width: 100%;
}


.orders {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
}

.orders table {
  width: 100%;
  border-collapse: collapse;
}

.orders th, .orders td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}
