
* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {

  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  background: grey;

}
  /* Admin */

   div.admin-container{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 30px;
    border: solid black 1px;

  }

  div.admin-container div.myform{
    width: 270px;
    margin-right: 30px;

  }

  div.admin-container div.myform h2{
    color: #1c1c1e;
    margin-bottom: 20px;

  }

  div.admin-container div.myform input{
    border: none;
    outline: none;
    border-radius: 0;
    width: 100%;
    border-bottom: 2px solid #1c1c1e;
    margin-bottom: 25px;
    padding: 7px 0;
    font-size: 14px;

  }

  div.admin-container div.myform button{
    color: white;
    background-color: #088178;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 5px 12px;
    font-weight: 500;
  }

  div.admin-container div.image img{

    width: 300px;

  }
