@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #e6e9f4;
    }

    /* Header */
    .header {
      display: flex;
  align-items: center;
  justify-content: space-between;
  padding : 20px 80px; 
  background : #E3E6F3;
  box-shadow : 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left:0;
	  
    }

	#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding : 20px 80px; 
  background : #E3E6F3;
  box-shadow : 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left:0;
}
/*navigation*/

#navbar{
  display :flex;
  align-items: center;
  justify-content: center;

}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;

}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;

}
#navbar li a:hover,
#navbar li a.active
{
  color: #088178;

}

#navbar li a.active::after
,#navbar li a:hover::after
{
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;


}
/* Hero Section **/
#hero {
  background-image: url("../img/back.jpg");
  height: 90vh;
  width :100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding:0 80px;
  display: flex;
  flex-direction: column;
  align-items:flex-start ;
  justify-content: center;

}

#hero h4{
  padding-bottom: 15px;

}
#hero h1{
  color:#088178;

}

#hero button{
  border-radius: 15px;
  border-style: none;
  color: white;
  background-color: #088178;
  padding: 14px 60px 14px 60px;
  cursor:pointer;
  font-weight: 700;
  font-size: 15px;
}

    /* Navigation bar */
    .main-nav {
      background-color: #d9d9d9;
      padding: 15px 30px;
      display: flex;
      align-items: center;
      gap: 20px;
      position: relative;
    }

    .main-nav .menu-item {
      position: relative;
      cursor: pointer;
    }

    .menu-item.sale {
      color: green;
    }

    /* Dropdown menu */
    .dropdown {
      display: none;
      position: absolute;
      top: 55px;
      left: 0;
      background-color: #e6e9f4;
      padding: 20px;
      border-radius: 8px;
      display: none;
      flex-direction: row;
      gap: 40px;
      z-index: 1000;
    }
	
	.dropdownw {
      display: none;
      position: absolute;
      top: 55px;
      left: 0;
      background-color: #e6e9f4;
      padding: 20px;
      border-radius: 8px;
      display: none;
      flex-direction: row;
      gap: 40px;
      z-index: 1000;
    }
	
    .dropdown-section {
      min-width: 140px;
    }
	

    .dropdown-section h4 {
      margin-bottom: 10px;
    }

    .dropdown-section ul {
      list-style: none;
    }

    .dropdown-section li {
      margin-bottom: 8px;
    }

    .dropdown-images {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .dropdown-images .img-box {
      position: relative;
	  
    }

    .dropdown-images img {
      width: 150px;
      height: 120px;
      object-fit: cover;
      border-radius: 4px;
	  
    }

    .dropdown-images .label {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
      font-weight: bold;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 2px 6px;
      border-radius: 4px;
    }

    @media (max-width: 768px) {
      .hero {
        flex-direction: column;
        text-align: center;
      }
      .hero-img img {
        margin-top: 20px;
        width: 100%;
        max-width: 300px;
      }
      .main-nav {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
	footer {
      background-color: #222;
      color: white;
      text-align: center;
      padding: 40px;
      margin-top: 500px;
    }
	








#feature{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}
#feature .fe-box{
  width:180px;
  text-align: center;
  padding:25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0);
  border :1px solid #cce7d0;
  border-radius :4px;
  margin: 15px 0; 

}

#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);

}

#feature  .fe-box img {
  width: 100%;
  margin-bottom: 10%;
}
#feature  .fe-box h6{
  display: inline-block;
  padding : 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color:#088178;
  background-color: #fddde4;
 
}

#feature .fe-box:nth-child(2) h6{
  background-color: #cdebbc;

}
#feature .fe-box:nth-child(3) h6{
  background-color: #d1e8f2;

}
#feature .fe-box:nth-child(4) h6{
  background-color: #cdd4f8;

}
#feature .fe-box:nth-child(5) h6{
  background-color: #f6dbf6;

}
#feature .fe-box:nth-child(6) h6{
  background-color: #fff2ef;

}

#product1 {
 margin-top: 20px;
  text-align: center;
}

#product1 .pro-container {
  display:flex;
  justify-content:space-between;
  padding-top:20px;
  flex-wrap: wrap;

}
#product1 .pro{
  width: 23% ;
  min-width: 250px;
  padding : 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position:relative;

}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
}
/*  making the image fit in the box responsively */
#product1 .pro img{
  width: 100%;
  border-radius: 20px;

}

#product1 .pro .description {
  text-align: start;
  padding:10px 0;

}

#product1 .pro .description span{
  color: #606063;
  font-size: 12px;
}
#product1 .pro .description h5{
  padding :7px ;
  color: #1a1a1a;
  font-size: 14px;
}
#product1 .pro .description i{
  font-size:12px ;
  color:rgb(243, 181, 25);

}
#product1 .pro .description h4{
  padding-top: 4px;
  font-size: 15px;
  font-weight: 700;
  color:#088178;

}
#product1 .pro .shopping{
  width: 40px;
  height:40px;
  line-height: 40px;
 border-radius: 50px;
 background-color: #e8f6ea;
 font-weight: 500;
 color:#088178;
 border: 1px solid #cce7d0;
 position: absolute;
 bottom: 20px;
 right: 10px;
 cursor: pointer;
 
}

/* #product1 .pro .shopping:hover {
  background-color: #000;
  color: white;
} */

#banner {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../img/banner.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}

#banner .h7{
  font-size: 16px;

}
#banner .h8{
  font-weight: bolder;
  font-size:30px;
  padding: 10px 0;

}
#banner  span{
  color:red;

}

#banner button{
  padding-top: 10px;
  background-color: #fff;
  color:#000;
  border: none;
  padding :10px 20px;
  font-weight: 700;
  outline: none;
  transition: 0.2s ease;
  border-radius: 4px;
  cursor: pointer;
}
#banner button:hover{
  background:#000;
  color:#fff;
}

#snd-banner{
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#snd-banner .banner-box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../img/banner1.jpg");
  width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding:30px;
}

#snd-banner .banner-box2 {
  background-image: url("../img/b3.jpg");
}
#snd-banner h4{
  color:#fff;
  font-size: 20px;
  font-weight: 300;

}

#snd-banner h2{
  color:#fff;
  font-size: 28px;
  font-weight: 800;
}
#snd-banner span{
  color:#fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom:15px ;
}

#snd-banner button{
font-size: 14px;
font-weight: 600;
padding:11px  18px;
color:#fff;
background-color: transparent;
cursor:pointer;
border:1px solid white;
outline:none;
transition:0.2s;

}
#snd-banner banner-box:hover button{
  background: #088178;
  border: 1px solid #cce7d0
}
#banner3{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:0px 80px;
}
#banner3 .banner-box{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("../img/banner7.jpg");
  width:30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding:30px;
}

#banner3 .banner-box2{
  background-image: url("../img/banner4.jpg");

}


#banner3 .banner-box3{
  background-image: url("../img/banner5.jpg");

}

#banner3 h2{
  color:#fff;
  font-weight: 900;
  font-size: 22px;
}

#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap ;
  align-items: center;
  background-image: url("../img/banner8.jpg");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;


}

#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color: #818ae0;
}
#newsletter p span{
  color: orange;
}

#newsletter .form{
  display: flex;
  width: 40%;
}

#newsletter input{
  height :3.125rem;
  padding: 0 1.25em;
  font-size:14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

}
#newsletter button{
  background-color: #088178;
  color:white;
  white-space: nowrap;
}

/* footer{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .follow{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
 
} */

.footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 40px 0;
}

.col-2 {
  flex-grow: 2;
}

.col-1 a {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}

.footer div h3 {
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

form input {
  width: 400px;
  height: 45px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  outline: none;
  border: solid black 1px;
}

form button {
  background-color: black;
  color: white;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

.social-icons {
  margin-top: 30px;
}

.social-icons i {
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}