/* Reset basics */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333;
}

/* Header */
/* header {
  background-color: #e7eaf8;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding : 20px 80px; 
  background : #E3E6F3;
  box-shadow : 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left:0;
}
/*navigation*/

#navbar{
  display :flex;
  align-items: center;
  justify-content: center;

}

#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;

}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;

}
#navbar li a:hover,
#navbar li a.active
{
  color: #088178;

}

#navbar li a.active::after
,#navbar li a:hover::after
{
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;


}

.logo {
  font-size: 24px;
}

.logo span {
  color: #12885a;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  cursor: pointer;
}

.cart-icon {
  font-size: 20px;
  margin-left: 20px;
}

/* Main Content */
.product-container {
  display: flex;
  padding: 60px;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
}

.product-image img {
  max-width: 350px;
  border-radius: 10px;
  object-fit: cover;
}

.product-info {
  max-width: 500px;
}

.subheading {
  color: #888;
  margin: 8px 0;
}

.price {
  font-size: 22px;
  margin: 10px 0;
}

.quantity-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.quantity-box button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}

.quantity-box span {
  font-size: 16px;
}

.description {
  margin-top: 10px;
  padding-left: 0;
  list-style-type: none;
  color: #666;
  line-height: 1.6;
}

.cart-button {
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  border-top: 1px solid #ddd;
  margin-top: 60px;
}
